body {
  background-color: #f8f8f8;}

#background {
  width: auto;
  height: 50px;
  background-color: #ffffff;}

#rectangle {
  width: 53px;
  height: 24px;
  background-color: #f92525;
  position: relative;
  top: 15px;
  left: 250px;
  text-align: center;
  font-size: 6px;
  line-height: 25px;
  color: #ffffff;
  float: left;}

#square {
  width: 60px;
  height: 28px;
  background-color: #f92525;
  position: relative;
  top: 10px;
  left: 1140px;
  text-align: center;
  font-size: 6px;
  line-height: 25px;
  color: #ffffff;
  float: left;}

#settings {
  width: 32px;
  height: 27px;
  background-color: #ffffff;
  position: relative;
  top: 13px;
  left: 980px;
  opacity: 0.7;
  float: left;}

#bell {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  position: relative;
  top: 13px;
  left: 990px;
  opacity: 0.7;
  float: left;}

#contet {
  width: 1000px;
  height: 1100px;
  background-color: #f8f8f8;
  margin: auto;}

#top {
  width: 200px;
  height: 50px;
  position: relative;
  top: 50px;}

#audience {
  font-size: 20px;
  color: #262b2e;}

#roseville {
  position: relative;
  top: 10px;
  font-size: 12px;
  color: #262b2e;
  opacity: 0.7;}

#dashboard ul {
  position: relative;
  top: 20px;
  left: 620px;}

#dashboard li {
  display: inline;
  font-size: 7px;
  font-weight: 800;
  color: #262b2e;}

#base {
  width: 500px;
  height: 250px;
  background-color: #ffffff;
  position: relative;
  top: 50px;
  float: left;}

#carousel {
  width: 430px;
  height: 230px;
  margin: 10px 40px;}

.slideBox {
    margin:10px 40px;
    width:430px;
    height:230px;
    position:relative;
    overflow:hidden;
    float: left;
}
.slideBox ul {
    position:relative;
    width:2000px;}
.slideBox ul li {
    float:left;
    width:430px;
    height:230px;
    position:relative;
    
}
.spanBox {
    position:absolute;
    width:300px;
    height:20px;
    bottom:10px;
    left:80px;
}
.spanBox span {
	width: 18px;
	height: 18px;
	margin-left: 5px;
	background-color: rgba(255,255,255,1);
	float: left;
	line-height: 16px;
	text-align: center;
	text-shadow: 2px 2px 2px #C5EBF0;
	font-family: cabin-sketch;
	font-size: 15px;
}
.slideBox .spanBox .active {
	background-color: rgba(255,0,0,0.79);
	border: solid 1px #BEEBEC;
	border-radius: 4px;
}


#baseone {
  width: 450px;
  height: 250px;
  background-color: #ffffff;
  position: relative;
  top: 50px;
  left: 50px;
  float: left;}

#support {
  width: 119px;
  height: 30px;
  font-size: 15px;
  color: #262b2e;
  position: relative;
  top: 40px;
  left: 50px;
  float: left;}

#button {
  width: 70px;
  height: 30px;
  border-radius: 1px;
  border: solid 1px #262b2e;
  opacity: 0.8;
  position: absolute;
  top: 40px;
  left: 320px;}

#line {
  width: 450px;
  height: 1px;
  background-color: #202124;
  position: relative;
  top: 90px;}

#time {
  position: relative;
  top: 110px;
  left: -70px;
  float: left;}

#username {
  position: relative;
  top: 110px;
  left: -30px;
  float: left;}

#status {
  position: relative;
  top: 110px;
  left: 100px;
  float: left;}

#ince {
  width: 360px;
  height: 30px;
  font-size: 10px;
  background-color: #ffffff;
  position: relative;
  top: 130px;
  left: 50px;
  float: left;}

#t {
  width: 50px;
  height: 30px;
  float: left;
  position: relative;
  top: 10px;}

#u {
  float: left;
  position: relative;
  top: 10px;
  left: 35px;}

#s {
  height: 30px;
  float: left;
  color: #f8f8f8;
  position: relative;
  right: -169;
  border-radius: 1px;
  background-color: #5dd054;
  border: solid 1px #5dd054;}

#once {
  width: 360px;
  height: 30px;
  font-size: 10px;
  background-color: #ffffff;
  position: relative;
  top: 145px;
  left: 50px;
  float: left;}

#i {
  width: 50px;
  height: 30px;
  float: left;
  position: relative;
  top: 10px;}

#e {
  float: left;
  position: relative;
  top: 10px;
  left: 35px;}

#r {
  height: 30px;
  float: left;
  color: #f8f8f8;
  position: relative;
  right: -169;
  border-radius: 1px;
  background-color: #5dd054;
  border: solid 1px #5dd054;}

#basetwo {
  width: 1000px;
  height: 330px;
  background-color: #ffffff;
  position: relative;
  top: 80px;
  float: left;}

#curve {
  width: 150px;
  height: 30px;
  font-size: 20px;
  position: relative;
  float: left;
  top: 25px;
  left: 450px;}

#curves {
  width: 960px;
  height: 240px;
  position: relative;
  top: 50px;
  left: 20px;
  float: left;}

#chart {
  width: 490px;
  height: 300px;
  background-color: #ffffff;
  position: relative;
  top: 100px;
  float: left;}

#pancake {
  width: 150px;
  height: 30px;
  font-size: 20px;
  position: relative;
  float: left;
  top: 25px;
  left: 185px;}

#pancakes {
  width: 400px;
  height: 220px;
  position: relative;
  top: 40px;
  left: 50px;
  float: left;}

#chartone {
  width: 490px;
  height: 300px;
  background-color: #ffffff;
  position: relative;
  top: 100px;
  left: 20px;
  float: left;}

#columnar {
  width: 150px;
  height: 30px;
  font-size: 20px;
  position: relative;
  float: left;
  top: 25px;
  left: 185px;}

#columnars {
  width: 400px;
  height: 220px;
  position: relative;
  top: 40px;
  left: 45px;
  float: left;}

#backgtoundone {
  width: auto;
  height: 127px;
  background-color: #202124;}

#rectangles {
  width: 80px;
  height: 30px;
  background-color: #f92525;
  position: relative;
  top: 15px;
  left: 250px;
  text-align: center;
  font-size: 3px;
  line-height: 25px;
  color: #ffffff;
  float: left;}

#backgtoundone ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  font-size: 7px;
  line-height: 2em;}

#news {
  width: 60px;
  height: 58px;
  position: relative;
  top: 20px;
  left: 350px;
  float: left;}

#sport {
  width: 60px;
  height: 58px;
  position: relative;
  top: 20px;
  left: 450px;
  float: left;}

#weather {
  width: 60px;
  height: 58px;
  position: relative;
  top: 20px;
  left: 550px;
  float: left;}

#future {
  width: 60px;
  height: 58px;
  position: relative;
  top: 20px;
  left: 650px;
  float: left;}

#trvel {
  width: 60px;
  height: 58px;
  position: relative;
  top: 20px;
  left: 750px;
  float: left;}
